{% load staticfiles %}

<div id="features">
    <div class="container">
        <div class="section_header">
            <h3>Ongoing Projects</h3>
        </div> 
        <div class="row feature">
            <div class="span6">
                <img src="{% static 'img/features/home/big1.png' %}">
            </div>
            <div class="span6 info">
                <h3>
                    <img src="{% static 'img/features/home/ico1.png' %}">
                    Automated Transwheel
                </h3>
                <p>
                    A 3-wheeled transhweel bot which can move by an autonomous system with curve tracing capabilities.
                </p>
            </div>
        </div>
        <div class="row feature ss">
            <div class="span6 info">
                <h3>
                    <img src="{% static 'img/features/home/ico2.png' %}">
                    Processors
                </h3>
                <p>
                    Using the power of fast processors to use better sensors and complicated algorithms which help to raise our game to another level.
                </p>
            </div>
            <div class="span6">
                <img src="{% static 'img/features/home/big2.png' %}" class="pull-right">
            </div>
        </div>
        <div class="row feature ss">
            <div class="span6">
                <img src="{% static 'img/features/home/big3.png' %}">
            </div>
            <div class="span6 info">
                <h3>
                    <img src="{% static 'img/features/home/ico3.png' %}">
                    Suspension
                </h3>
                <p>
                    A project dedicated to find new suspension systems that help in locomotion of a four and also three wheeled bots significantly.
                </p>
            </div>
        </div>
    </div>
</div>

