{% load staticfiles %}

<div id="showcase">
    <div class="container">
        <div class="section_header">
            <h3>Our Teams</h3>
        </div>            
        <div class="row feature_wrapper">
            <!-- Features Row -->
            <div class="features_op1_row">
                <!-- Feature -->
                <div class="span4 feature first">
                    <div class="img_box">
                        <a href="#">
                            <img src="{% static 'img/showcase/home/show1.png' %}">
                            <span class="circle"> 
                                <span class="plus">+</span>
                            </span>
                        </a>
                    </div>
                    <div class="text">
                        <h6>Electronics</h6>
                        <p>
                            The Electronics team designs the circuit boards and does Research on various types of new devices that can be used.
                        </p>
                    </div>
                </div>
                <!-- Feature -->
                <div class="span4 feature">
                    <div class="img_box">
                        <a href="#">
                            <img src="{% static 'img/showcase/home/show2.png' %}">
                            <span class="circle"> 
                                <span class="plus">+</span>
                            </span>
                        </a>
                    </div>
                    <div class="text">
                        <h6>Mehcanical &amp; Fabrication</h6>
                        <p>
                            A team dedicated to designing and making mechanical structures perfect, and also fabricating them with various new and innovative techniques.
                        </p>
                    </div>
                </div>
                <!-- Feature -->
                <div class="span4 feature last">
                    <div class="img_box">
                        <a href="#">
                            <img src="{% static 'img//showcase/home/show3.png' %}">
                            <span class="circle"> 
                                <span class="plus">+</span>
                            </span>
                        </a>
                    </div>
                    <div class="text">
                        <h6>Algorithm and Coding</h6>
                        <p>
                            An algorithm team that uses the components used by us to their fullest by implementing and creating unique algorithms for our specific needs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

