{% load staticfiles %}

<section id="feature_slider" class="disabled">
    <!-- 
        Each slide is composed by <img> and .info
        - .info's position is customized with css in index.css
        - each <img> parallax effect is declared by the following params inside its class:
        
        example: class="asset left-472 sp600 t120 z3"
        left-472 means left: -472px from the center
        sp600 is speed transition
        t120 is top to 120px
        z3 is z-index to 3
        Note: Maintain this order of params

        For the backgrounds, you can combine from the bgs folder :D
    -->
    <article class="slide" id="showcasing" style="background-image: url({% static 'img/slider/bg/landscape.png' %}); display: none; background-position: 50% 0%; background-repeat: repeat no-repeat;">
        <img class="asset left-30 sp600 t120 z1" src="{% static 'img/slider/pics/macbook.png' %}">
        <div class="info" style="display: none;">
            <h2>Beautiful theme for showcasing your works.</h2>
        </div>
    </article>
    <article class="slide" id="ideas" style="background-image: url({% static 'img/slider/bg/aqua.jpg' %}); display: none; background-position: 50% 0%; background-repeat: repeat no-repeat;">
        <div class="info" style="display: none;">
            <h2>We love to turn ideas into beautiful things.</h2>
        </div>
        <img class="asset left-480 sp600 t260 z1" src="{% static 'img/slider/pics/left.png' %}">
        <img class="asset left-210 sp600 t213 z2" src="{% static 'img/slider/pics/middle.png' %}">
        <img class="asset left60 sp600 t260 z1" src="{% static 'img/slider/pics/right.png' %}">
    </article>
    <article class="slide" id="tour" style="background-image: url({% static 'img/slider/bg/color-splash.jpg' %}); display: none; background-position: 50% 0%; background-repeat: repeat no-repeat;">
        <img class="asset left-472 sp650 t210 z3" src="{% static 'img/slider/pics/ipad.png' %}">
        <img class="asset left-365 sp600 t270 z4" src="{% static 'img/slider/pics/iphone.png' %}">
        <img class="asset left-350 sp450 t135 z2" src="{% static 'img/slider/pics/desktop.png' %}">
        <img class="asset left-185 sp550 t220 z1" src="{% static 'img/slider/pics/macbook(1).png' %}">
        <div class="info" style="display: none;">
            <h2>Fully Responsive theme</h2>
            <a href="http://cleancanvas.herokuapp.com/features.html">TOUR THE PRODUCT</a>
        </div>
    </article>
    <article class="slide" id="responsive" style="background-image: url({% static 'img/slider/bg/indigo.jpg' %}); display: none; background-position: 50% 0%; background-repeat: repeat no-repeat;">
        <img class="asset left-472 sp600 t120 z3" src="{% static 'img/slider/pics/html5.png' %}">
        <img class="asset left-190 sp500 t120 z2" src="{% static 'img/slider/pics/css3.png' %}">
        <div class="info" style="display: none;">
            <h2>
                Responsive <strong>HTML5 &amp; CSS3</strong>
                Theme
            </h2>                
        </div>
    </article>
</section>
