{% load staticfiles %}

<div id="clients">
    <div class="container">
        <div class="section_header">
            <h3>Sponsors / Affiliates</h3>
        </div>
        <div class="row">
            <div class="span2 client">
                <div class="img client1"></div>
            </div>
            <div class="span2 client">
                <div class="img client2"></div>
            </div>
            <div class="span2 client">
                <div class="img client3"></div>
            </div>
            <div class="span2 client">
                <div class="img client4"></div>
            </div>
            <div class="span2 client">
                <div class="img client5"></div>
            </div>
            <div class="span2 client">
                <div class="img client6"></div>
            </div>
        </div>
    </div>
</div>
