{% extends "test_base.html" %}
{% block title %}IITM Robocon | Blog{% endblock %}
{% block content %}

 <div class="row post_row">
                <!-- Post -->
                <div class="span4 post">
                    <div class="img">
                        <a href="blogpost.html">
                            <img src="img/blog1.png" alt="">
                        </a>
                    </div>
                    <div class="text">
                        <h5><a href="blogpost.html">Clean Canvas beautiful responsive theme.</a></h5>
                        <span class="date">Wed, 12 Dec.</span>
                        <p>
                            There are many variations of passages of generators on the  embarrassing hidden in  slightly distracted by these distribution of letters, as opposed.</p>
                    </div>
                    <div class="author_box">
                        <h6>Alejandra Galvan</h6>
                        <p>Creative Director</p>
                    </div>
                    <a class="plus_wrapper" href="blogpost.html">
                        <span>&#43;</span>
                    </a>
                </div>

                <!-- Post -->
                <div class="span4 post">
                    <div class="img">
                        <a href="blogpost.html">
                            <img src="img/blog2.png" alt="">
                        </a>
                    </div>
                    <div class="text">
                        <h5><a href="blogpost.html">Clean Canvas beautiful responsive theme.</a></h5>
                        <span class="date">Wed, 12 Dec.</span>
                        <p>
                            There are many variations of passages of generators on the  embarrassing hidden in  slightly distracted by these distribution of letters, as opposed.</p>
                    </div>
                    <div class="author_box">
                        <h6>Alejandra Galvan</h6>
                        <p>Creative Director</p>
                    </div>
                    <a class="plus_wrapper" href="blogpost.html">
                        <span>&#43;</span>
                    </a>
                </div>


{% endblock %}