<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <title>{% block title %}IITM Robocon{% endblock %}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-overrides.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" type="text/css" media="screen" />
 <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}" media="screen, projection">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body class="pull_top" style="">
    <!-- Top Navbar -->
    <div class="navbar transparent navbar-inverse navbar-fixed-top">
        {% block navbar %}
      <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">
                <strong>Team IITM Robocon</strong>
            </a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li><a href="#" class="active">HOME</a></li>
                    <li><a href="#">ABOUT US</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            PROJECTS
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">2013</a></li>
                            <li><a href="#">2012</a></li>
                            <li><a href="#">2011</a></li>
                            <li><a href="#">2010</a></li>
                            <li><a href="#">2009</a></li>
                            <li><a href="#">2008</a></li>
                            </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            BLOG
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="blog">View Blog</a></li>
                            <li><a href="blog/new">Post a new Blog</a></li>
                        </ul>
                    </li>
                    <li><a href="#">AT ROBOCON</a></li>
                    <li><a href="#">CONTACT US</a></li>

                    <!--
                    <li><a class="btn-header" href="http://cleancanvas.herokuapp.com/sign-up.html">Sign up</a></li>
                    <li><a class="btn-header" href="http://cleancanvas.herokuapp.com/sign-in.html">Sign in</a></li>
                    -->
                </ul>
            </div>
        </div>
      </div>
       {% endblock %}
    </div>

    <div id="content">
      {% block content %}{% endblock %}
  </div>
  
    <!-- starts footer -->
    <footer id="footer">
        <div class="container">
            <div class="row sections">
                <div class="span4 recent_posts">
                    <h3 class="footer_header">
                        Recent Posts
                    </h3>
                    <div class="post">
                        <a href="http://cleancanvas.herokuapp.com/blogpost.html">
                            <img src="{% static 'img/recent_post1.png' %}" class="img-circle">
                        </a>
                        <div class="date">
                            Wed, 12 Dec
                        </div>
                        <a href="http://cleancanvas.herokuapp.com/blogpost.html" class="title">
                            Needs to be dynamically changed when a new post has been added
                        </a>
                    </div>
                    <div class="post">
                        <a href="http://cleancanvas.herokuapp.com/blogpost.html">
                            <img src="{% static 'img/recent_post2.png' %}" class="img-circle">
                        </a>
                        <div class="date">
                            Mon, 12 Dec
                        </div>
                        <a href="http://cleancanvas.herokuapp.com/blogpost.html" class="title">
                            Same story as the above post ...
                        </a>
                    </div>
                </div>
                <div class="span4 testimonials">
                    <h3 class="footer_header">
                        Inspirational Quotes
                    </h3>
                    <div class="wrapper">
                        <div class="quote">
                            <span>“</span>
                            A random quote that we like
                            <span></span>
                        </div>
                        <br />
                        <div class="quote">
                            <span>“</span>
                            Another random quote that we like
                            <span></span>
                        </div>
                        <br />
                        <div class="quote">
                            <span>“</span>
                            If the above 2 quotes dont fill up the whole space, we should make longer ones, like this one.
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="span4 contact">
                    <h3 class="footer_header">
                        Contact
                    </h3>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="text" name="name" placeholder="Your name">
                        <input type="text" name="email" placeholder="Your email">
                        <textarea rows="3" name="message" placeholder="Message"></textarea>
                        <input type="submit" value="Send">
                    </form>
                </div>
            </div>
            <div class="row credits">
                <div class="span12">
                    <div class="row social">
                        <div class="span12">
                            <a href="#" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href="#" class="twitter">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                            <a href="#" class="gplus">
                                <span class="socialicons ico3"></span>
                                <span class="socialicons_h ico3h"></span>
                            </a>
                            <a href="#" class="flickr">
                                <span class="socialicons ico4"></span>
                                <span class="socialicons_h ico4h"></span>
                            </a>
                            <a href="#" class="pinterest">
                                <span class="socialicons ico5"></span>
                                <span class="socialicons_h ico5h"></span>
                            </a>
                            <a href="#" class="dribble">
                                <span class="socialicons ico6"></span>
                                <span class="socialicons_h ico6h"></span>
                            </a>
                            <a href="#" class="behance">
                                <span class="socialicons ico7"></span>
                                <span class="socialicons_h ico7h"></span>
                            </a>
                            
                        </div>
                    </div>
                    <!--<div class="row copyright">
                        <div class="span12">
                            © 2013 Clean Canvas. All rights reserved. Theme by Detail Canvas.
                        </div>
                    </div>-->
                </div>            
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="{% static 'js/jquery-latest.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index-slider.js' %}"></script>

</body>

</html>
